body{margin: 0; background-color: #000000e8;}
.container{width: 100%; margin: 0 auto; display: grid; grid-gap: 2px; grid-template-columns: repeat(4,fr); grid-template-rows: repeat(4,auto);
grid-template-areas:
"header header header header"
"mynav mynav mynav mynav"
"aside aside section section"
"footer footer footer footer";
}
/*header tag configuration*/
.my-header{ grid-area: header; background-color: aliceblue; padding: 10px; display: grid; grid-gap: 0; grid-template-columns: repeat(6,fr); grid-template-rows: repeat(1,auto);
grid-template-areas:
"title title title title title image"; border-radius: 8px;}
.my-header:hover{background-color: #fff;}
.my-title{grid-area: title; text-align:center; font-family: "Playfair Display", serif; font-weight: 600; margin-left: 300px; color: rgb(58, 57, 57);}
.my-title:hover{color: #000; font-weight: 700;}
/*logo style in header tag*/
.img-header{ grid-area: image; padding: 0; display: inline;  text-align: end; margin-right: 10px; }
.img-header img{border-radius: 50px; width: 150px; height: 100px; }
/*nav tag configuration*/
.mynav{ grid-area: mynav; background-color: #000000e8; color: #fefefe; text-align: center; padding: 10px 0; word-spacing: 60px;}
.mynav li{ display: inline; font-size: 1.5em; list-style-type: none; }  
.mynav li a{ text-decoration: none; color: rgba(218, 213, 213, 0.904); font-family: "Libre Franklin", sans-serif;}
.mynav li a:hover{ color: #fff; font-weight: 500;}
/*dropdown menu style in navigation bar*/
.more::after{ content:' \25Be'; word-spacing: 4px; color: #fefefe;}
.arrow:hover .more::after{ content:' \25B4';}
.popup { position: relative;}
.popup .popuplist { visibility: hidden;  background-color:#000000e8; border-radius: 6px; text-align: center; word-spacing: normal; padding: 10px 15px; position: absolute; z-index: 1; top: 135%; left: 20%; 
margin-left: -80px;  border: .1px solid rgba(138, 135, 135, 0.525);}
.popuplist li{ list-style-type: none; font-size:large; display: block; line-height: 1.8;}
.popuplist li a{ color: rgba(218, 213, 213, 0.904); text-decoration: none; font-family: "Libre Franklin", sans-serif;}
/* top tip of popup*/
.popup .popuplist::after { content: ""; position: absolute; bottom: 100%; left: 50%; margin-left: -5px;  border-width: 7px; border-style: solid; 
     border-color: transparent transparent  #111 transparent; }
.popup .show { visibility: visible;}
/* Sidebar configuration*/
#finav { padding: 3px; text-align: start; transition: margin-left .5s; }
.openbtn { font-size: 2em; cursor:pointer; background-color: #000000e8; color: rgba(218, 213, 213, 0.904); padding: 1px; border: none; margin-left: 6%; }
.openbtn:hover{color:#fff;}
.sidebar { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #000000e8; overflow-x: hidden; transition: 0.5s; padding-top: 60px; }
.sidebar a { padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px; color: rgba(218, 213, 213, 0.904); display: block; transition: 0.2s; font-family: "Libre Franklin", sans-serif;}
.sidebar a:hover {color: #fff; font-weight: 500; }
.sidebar .closebtn { position: absolute; top: 0; right: 25px; margin-left: 50px; }
.openbtn{ display: none;}
/* aside configuration*/
.my-aside{background-color: aliceblue; grid-area: aside; text-align: center; padding: 10px; border-radius: 8px;}
.my-aside:hover{background-color: #fff; }
.my-aside h1{font-family: "Libre Franklin", sans-serif; color: rgb(58, 57, 57); margin-top: 100px;}
.my-aside h1:hover{ color: #000; font-weight: 700;}
.my-aside ul{  list-style-type: none; padding: 0; margin-top: 50px;}
.my-aside li{margin: 30px;}
.my-aside li a{ text-decoration: none;  padding: 0;}
.my-aside li a img{border-radius: 10px; width: 300px; opacity: .8;}
.my-aside li a img:hover{opacity: 1;}
/*Section configuration*/
.my-section{grid-area: section; border-radius: 8px; background-color: #000000e8; display: grid; grid-gap: 2px; grid-template-columns: repeat(4,fr); grid-template-rows: repeat(2,auto);
    grid-template-areas:
    "wel wel wel wel"
    "left left right right"; font-family: "Libre Franklin", sans-serif;}
.welcome{grid-area: wel; border-radius: 8px; background-color: aliceblue; color: rgb(58, 57, 57); text-align: center; font-family: "Libre Franklin", sans-serif; }
.welcome:hover{background-color: #fff;}
.welcome h1:hover{color: #000; font-weight: 700;}
.my-section-img{opacity: .8;}
.my-section-img:hover{opacity: 1;}
/*left side of my section tag*/
.about-left{grid-area: left; padding: 20px; border-radius: 8px; background-color: aliceblue;}
.about-left:hover{background-color: #fff;}
.about-left h2{text-decoration: underline; margin-top: 80px ;}
.about-left p{color: #000; font-weight: 300;}
.about-left p:hover{font-weight: 400;}
/*right side of my section tag*/
.about-right{grid-area: right; padding: 15px; background-color: aliceblue; border-radius: 8px;}
.about-right h2{text-decoration: underline; margin-top: 60px ;}
.about-right:hover{background-color: #fff;}
.about-right p{color: #000; font-weight: 300;}
.about-right p:hover{font-weight: 400;}
/*image style in section tag*/
.my-section-img{ text-align: center; width: auto;}
.my-section-img img{width: 98%; border-radius: 8px;}
/*table tag style*/
.my-table th, td{border: 1px solid; padding: 8px;}
.my-table tr p:hover{font-weight: 300;}
.my-table th {padding-top: 2px; padding-bottom: 2px; text-align: center; background-color: #0f0f0fc0; color: white;
}
/*footer tag style*/
.my-footer{grid-area: footer; background-color: #000000e8; text-align: center; padding: 10px 0; width: 100%; border-radius: 8px; display: grid; grid-gap: 0; grid-template-columns: repeat(6,fr); grid-template-rows: repeat(1,auto);
    grid-template-areas:
    "memus menus menus menus menus images";}
.menu-footer{grid-area: menus; font-family: "Playfair Display", serif; font-weight: 600; margin-left: 150px; color: rgb(58, 57, 57);}
/*logo style in footer tag*/
.img-footer{grid-area: images; padding: 0; display: inline;  text-align: end; margin-right: 10px; }
.img-footer img{border-radius: 50px; width: 200px; height: 100px; }
.my-footer:hover{background-color: #212122c2;}
.my-footer li{ display: inline; font-size: x-large; padding: 1.7em; }
.my-footer li a{ text-decoration: none; color: rgba(218, 213, 213, 0.904); font-family: "Libre Franklin", sans-serif;}
.my-footer li a:hover{ color: #fff; font-weight: 500;}
/*responsive style*/
@media only screen and (max-width: 1200px) {
    .my-section{grid-template-columns: repeat(4,fr); grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "wel wel wel wel"
    "left left left left"
    "right right right right";} 
    .my-nav li{padding: 2em; }    
}
@media only screen and (max-width: 900px) {
    .container{grid-template-columns: repeat(4,fr); grid-template-rows: repeat(5,auto);
        grid-template-areas:
        "header header header header"
        "mynav mynav mynav mynav"
        "section section section section"
        "aside aside aside aside"
        "footer footer footer footer";
        }
    .my-title{margin-left: 80px;}
    .menu-footer{margin: 0; text-align: right;}
    .my-footer li{ padding: 1em; }
    .my-nav li{padding: 2em; }
    .my-nav{text-align: right;} 
    .my-aside li{margin: 30px 10px;} 
    .my-aside li a img{width: 500px; height: 300px;}  
    
}
@media only screen and (max-width: 750px) {
    .mynav{word-spacing: normal; text-align: start;}
    .mynav nav{ display: none;}
    .openbtn{display: block;}    
    .my-aside li a{ text-decoration: none;  padding: 0;}
    ..my-aside li a img{width: 400px; height: 300px;} 
}
@media only screen and (max-width: 630px) {
    .my-title{margin-left: 0;} 
    .img-header img{width: 100px; height: 100px; }
    .my-footer li{ padding: 10px; }
    .my-aside li a{ text-decoration: none;  padding: 0;}
    .my-aside li a img{width: 80%;}
    .img-footer img{ width: 100px; height: 100px; }
}